﻿@{ 
    Layout = "~/Views/Shared/_layout.cshtml";
    ViewBag.Title = "home-index";
}﻿﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>E4 VNEXPRESS</title>
    <link href="~/Content/css/myCSS.css" rel="stylesheet" />
</head>
<body>
    <div class="top-bar">
        <div class="main-bar">
            <div class="contact-left">
                <a>(028) 3456789</a>
                <a>(028) 3456789</a>
                <button>Lien He Quang Cao</button>
                <button>Like</button>
                <button>Follow</button>
                <button>Youtube</button>
            </div>
            <div class="login-right">
                <button>Dang Nhap</button>
                <button>Dang Ky</button>
                <input placeholder="Tim Kiem" />
            </div>
        </div>
    </div>
    <div class="main-container">
        <div class="banner-container">
            <img src="~/Content/imagines/Logo_Vnexpress.png" />
            <img src="~/Content/imagines/banner-ads-1.png" />
            <img src="~/Content/imagines/banner-ads-2.png" />
        </div>
    </div>
</body>
</html>


